/* .nav1{
    width: 100%;
} */

.nav1 {
  font-size: 0.8rem !important;
  display: flex;

  /* background-color: #ebedf7; */
}
.item-1 {
  flex-grow: 4;
  padding-left: 10px;
}
.item-2 {
  flex-grow: 0.5;
}
.item-3 {
  flex-grow: 0.5;
}
.item-4 {
  flex-grow: 0.5;
}
.nav2 {
  margin-left: -24px;
  margin-right: -24px;
}

.spp {
  /* justify-content: center; */
  /* color: aliceblue; */
  /* padding: 10px 10px 10px 10px; */
  /* align-items: center; */
  /* align-content: center; */
  background-color: #3d4eaf;
  /* font-size: medium; */
  /* padding-left: -2px; */
  padding-left: 60px;
  padding-top: 25px;
}
.sp {
  color: aliceblue;

  padding: 10px;
}
.upp {
  color: aliceblue;
  padding-top: 25px;
  background-color: #3d4eaf;
  font-size: medium;
  padding-bottom: 25px;
  padding-left: 65px;
}
.btn1 {
  border: 0;
  background-color: #36459b;
  padding: 10px;
  font-size: medium;
  color: aliceblue;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .upp {
    display: flex;
    justify-content: center;
  }
}

/* @media screen and (max-width: 706px) and (min-width: 446px) {
    .ru{
      display: flex;
      flex-wrap:wrap;
      position: fixed;
      
      justify-content:center;
    }
  } */
.ee {
  color: #3d4eaf;
  font-size: 25px;
  padding-right: 60px;
}
.btn2 {
  border: 0;
  background-color: #36459b;
  font-size: medium;
  color: aliceblue;
  padding: 10px;
}
.surya {
  padding: 10px;
  padding-right: 800px;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .surya {
    display: flex;
    justify-content: center;
  }
}

.s4 {
  font-size: 35px;
}
.we {
  background-color: aliceblue;
  width: 356px;
  height: 100px;
  padding: 20px;
}
.done {
  font-size: 20px;
  color: aliceblue;
  background-color: aqua;
  font-weight: 600;
}
.eee {
  background-color: aqua;
  padding-top: 70px;
  padding-bottom: 70px;
  padding-left: 0px;
}
.tt,
.ss,
.pp,
.jj,
.yy,
.uu {
  padding: 20px;
}
.inp1,
.inp2,
.inp3,
.inp0 {
  width: 500px;
  padding: 20px;
  border: 0px;
  background-color: aliceblue;
}
.inp4 {
  width: 1000px;
  height: 300px;
  border: 0px;
  background-color: aliceblue;
}
.india {
  background-color: dimgrey;
}
.wrt {
  background-color: white;
}
.btn12 {
  border: 0;
  background-color: #36459b;
  /* padding: 25px; */
  font-size: medium;
  color: aliceblue;
  width: 145px;

}
.qe {
  /* padding-left: 100px; */
  padding-bottom: 20px;
  margin-left: 1050px;
}
.cont2 {
  display: flex;
  font-size: 0.8rem !important;
  padding: 10px 10px;
  /* background-color: #ebedf7; */
  justify-content: center;
}
.sr {
  background-color: dimgray;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rr {
  background-color: dimgray;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  display: flex;
}
.chn,
.pak,
.india {
  background-color: dimgray;
  color: aliceblue;
}
.god {
  background-color: dimgray;
  color: grey;
  align-items: center;
  justify-content: center;
  display: flex;
}
.js {
  background-color: dimgray;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  display: flex;
}

.sd {
  background-color: dimgray;
  color: aliceblue;
  font-weight: 800;
}
.sq,
.gg,
.sf {
  height: 500px;
  padding-left: 130px;
}
.zz {
  font-weight: 800;
  font-size: larger;
}
.god:hover {
  color: aliceblue;
}
.a1 {
  background-image: url("images\ teeth.jpeg");
  width: 200px;
  background-repeat: no-repeat;
}
.su,
.ssp {
  padding-left: 150px;
  padding-top: 10px;
}

@media screen and (max-width: 576px) {
  .addres,
  .mail,
  .visit {
    display: none;
  }
}

