/*                     heading              */
.nav1 {
  display: flex;
  justify-content: space-evenly;
  color: RGB(119, 119, 119);
  font-size: 13px;
  font-weight: 600;
  font-family: poppins, Arial, sans-serif;
}

.item-1 {
  flex-grow: 4;
  padding-left: 10px;
}
.item-2 {
  flex-grow: 0.5;
}
.item-3 {
  flex-grow: 0.5;
}
.item-4 {
  flex-grow: 0.5;
}

@media screen and (max-width: 576px) {
  .addres,
  .mail,
  .visit {
    display: none;
  }
}
@media screen and (min-width: 576px) and (max-width: 768px) {
  .mail,
  .visit {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 992px) {
  .visit {
    display: none;
  }
}

.ad,
.vv {
  font-size: 100;
  color: white;
  font-weight: 500;
}
.s1,
.s2,
.s3 {
  color: gray;
  font-weight: 500;
  font-size: 100%;
}
.a3,
.bn,
.nb .a3,
.po,
.po1,
.po2,
.po5 {
  color: gray;
  font-weight: 500;
}
/* .nb{
    min-width:          
  } */

.inp1,
.inp2,
.inp3,
.inp0,
inp5 {
  background-color: whitesmoke;
  width: 100%;
  border: 0px solid black;
  padding: 15px;
}

.inp4 {
  width: 100%;
  border: 1px;

  background-color: whitesmoke;
  padding: 20px 15px 150px 15px;
  margin: 10px 60px;
}
.r1 {
  color: RGB(62, 62, 62);
  width: 100vw !important;
  padding: 0 !important;
  font-size: 20px;
  font-family: poppins Arial sans-serif;
  font-weight: 600;
  z-index: 100 !important;
}
.abt,
.abt1,
.abt3 {
  color: #36459b;
}
.super {
  padding-left: 15%;
  display: flex;
  justify-content: space-around 100px;
}
.img1 {
  width: 40%;
  height: 40%;
  padding-top: 30px;
}
.img3 {
  width: 100%;
  height: 100%;
}
.az {
  padding-top: 7%;
  padding-left: 5%;
}
.ll {
  color: #3d4eaf;
  font-size: 20px;
  font-weight: 600;
}
.ad,
.su {
  font-size: 100%;
  color: gray;
  font-weight: 500;
}

.nav-item:hover {
  color: #36459b !important;
  text-decoration: underline solid 2px #36459b;
}
.nav-item:active {
  color: #36459b;
}

.spp {
  /* justify-content: center; */
  /* color: aliceblue; */
  /* padding: 10px 10px 10px 10px; */
  /* align-items: center; */
  /* align-content: center; */
  background-color: #3d4eaf;
  /* font-size: medium; */
  /* padding-left: -2px; */
  padding-left: 60px;
  padding-top: 25px;
}
.sp {
  color: aliceblue;
  margin-top: 10px;
  padding: 10px;
}
.upp {
  color: aliceblue;
  padding-top: 25px;
  background-color: #3d4eaf;
  font-size: medium;
  padding-bottom: 25px;
  padding-left: 65px;
}
.divi {
  max-width: 100% !important;
  text-wrap: wrap !important;
}
/* button */
.btn1 {
  border: 0;
  background-color: #36459b;
  padding: 20px;
  font-size: medium;
  color: aliceblue;
  margin-left: 2%;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .upp {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 0px) and (max-width: 1440px) {
}

.ee {
  color: #3d4eaf;
  font-size: 22px;
  text-align: center;
  margin-left: 0%;
}
.btn2 {
  border: 0;
  background-color: #36459b;
  font-size: 100%;
  color: aliceblue;
  padding: 10px;
  margin-top: 6%;
  margin-left: 0%;
}
.surya {
  /* padding: 10px;
    padding-right: 800px; */
  text-align: center;
}
@media screen and (min-width: 0px) and (max-width: 767px) {
  .surya {
    display: flex;
    justify-content: center;
  }
}
.btn12 {
  border: 0;
  background-color: #36459b;
  padding: 25px;
  font-size: medium;
  color: aliceblue;
  width: 145px;
  margin-left: 1000px;
}
/* .qe {
      padding-left: 100px;
      padding-bottom: 20px;
      margin-left: 400px;
    } */
.de,
.sx {
  background-color: dimgrey;
}
.tp {
  margin-left: 10%;
}
.sr,
.god,
.js {
  background-color: dimgray;
  /* padding: 25px 25px 150px 25px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.rr {
  background-color: dimgray;
  color: aliceblue;
  align-items: center;
  justify-content: center;
  display: flex;
}
/* .inp {
    margin-top: 5px;
    margin-bottom: 5px;
  } */
.ss,
.rw {
  padding: 10px 30px;
  margin: 0 20px;
}

.btn3 {
  background-color: #36459b;
  color: aliceblue;
  padding: 20px;
  border: 0px;
  width: 10%;
  margin-left: 85.6%;
}

.de {
  color: RGB(245, 246, 251);
  font-size: 14px;
  padding: 20px;
  font-family: poppins Arial sans-serif;
  font-weight: 600;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .de {
    /* display: grid;
      justify-content: center;
      align-items: center; */
    text-align: center;
  }
}
.cc {
  text-align: center;
}
/* .ss,
  .rw,
  .rx {
    background-color: aliceblue;
  } */
.r1 {
  position: static;
}
/*                                                                  carosul                               */
.carousel-item {
  width: 100% !important;
  height: 60vh;
  background-image: url(/Assets/tooth234.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -100 !important;
}

.item12 {
  width: 100% !important;
  height: 60vh;
  background-image: url(/Assets/teet1.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.mn {
  margin-left: 50%;
  margin-top: 5%;
  margin-right: 15%;
}
.s {
  font-weight: 700;
}
.bl,
.nj {
  color: dimgray;
  font-size: 20px;
  font-weight: 495;
}
.vb {
  margin-left: 2%;
  margin-top: 5%;
}
.bv {
  margin-right: 60%;
  margin-top: 5%;
  margin-left: 6%;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: gray;

  width: 40px;
  height: 40px;
  margin-top: 140%;
}
.carousel-control-prev-icon {
  margin-right: -1083%;
}
@media screen and (min-width: 0px) and (max-width: 991px) {
  .carousel-item {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .item12 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.r1 {
  position: sticky;
  top: 0px;
}

@media screen and (max-width: 576px) {
  .doctorimg2,
  .doctorimg3,
  .doctorimg4 {
    display: none;
  }
  .doctorimg1 {
    max-width: 200vh !important;
  }
}

@media screen and (min-width: 576px) and (max-width: 1198px) {
  .doctorimg1,
  .doctorimg2 {
    display: none;
  }
}
@media screen and (min-width: 1198px) and (max-width: 1440px) {
}

/*                                                    Animation                                                  */

/*                                                     carousel                                                  */

@keyframes slide {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    /* transform: translateY(-10px); */
    opacity: 0.5;
  }
  100% {
    /* transform: translateY(40px); */
    opacity: 1;
  }
}
.w {
  animation: slide 1.5s linear 0.5s;
}
.bl {
  animation: slide 1.5s linear 1s;
}
.s {
  animation: slide 1.5s linear 1.5s;
}
.nj {
  animation: slide 1.5s linear 2s;
}

/*                                                        tooth                                                     */

@keyframes slide {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    /* transform: translateY(-10px); */
    opacity: 0.5;
  }
  100% {
    /* transform: translateY(-15px); */
    opacity: 1;
  }
}
.abt {
  animation: slide 1.5s linear 2.5s;
  text-shadow: 2px solid black;
}
.qa {
  animation: slide 1.5s linear 3s;
  text-shadow: 2px solid black;
}
.bn {
  animation: slide 1.5s linear 3.5s;
  text-shadow: 2px solid black;
}
.vb {
  animation: slide 1.5s linear 4s;
  text-shadow: 2px solid black;
}
.xc {
  animation: slide 1.5s linear 4.5s;
  text-shadow: 2px solid black;
}
.btn1 {
  animation: slide 1.5s linear 5s;
  text-shadow: 2px solid black;
}

/*                                                        main carousel                                                   */

/* @keyframes scale {
    0% {
      transform: scale(-1.5);
       
    }
   
    100% {
      transform: translateY(-15px);
      transform:scale(1.5)
    }
  } */

/* .ll {
    animation: scale 1.5s linear 5.5s;
   
  }
  .f1 {
    animation: scale 1.5s linear 6s;
   
  }
  .ad {
    animation: scale 1.5s linear 6.5s;
    
  } */
/* .item-one:hover{
       transform: scale(1.5,1.5);
       z-index: 200px;
  } */
/*                                                      sepecial services                                                 */

@keyframes slide {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    /* transform: translateY(-15px); */
    opacity: 1;
  }
}
.ll {
  animation: slide 1.5s linear 5.5s;
}
.f1 {
  animation: slide 1.5s linear 6s;
}
.ad {
  animation: slide 1.5s linear 6.5s;
}

/*                                                           book                                                             */

@keyframes slide {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.po {
  animation: slide 1.5s linear 7s;
}
.po1 {
  animation: slide 1.5s linear 7.5s;
}
.po2 {
  animation: slide 1.5s linear 8s;
}
/*                                                          porto Dentist                                                     */

@keyframes slide {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.abt1 {
  animation: slide 1.5s linear 8.5s;
  text-shadow: 2px solid black;
}
.s4 {
  animation: slide 1.5s linear 9s;
  text-shadow: 2px solid black;
}
.a3 {
  animation: slide 1.5s linear 9.5s;
  text-shadow: 2px solid black;
}

/*                                                         request book                                                           */

@keyframes slide {
  0% {
    transform: translateY(40px);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
.abt3 {
  animation: slide 1.5s linear 10s;
  text-shadow: 2px solid black;
}
.y {
  animation: slide 1.5s linear 10.5s;
  text-shadow: 2px solid black;
}
.po5 {
  animation: slide 1.5s linear 11s;
  text-shadow: 2px solid black;
}
